<?php
// excluded labels (case-insensitive)
$rcmail_config['tb_label_exclude'] = [
    '$MDNSent',
    'NonJunk',
    'Junk',
    'Recent',
    '$Forwarded',
];

// exclude prefix from search
$rcmail_config['tb_prefix_exclude_search'] = 'Virtual.';
